.NavTitle{
  text-align: center;
  font-size: 1.5rem;
  
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  
  color: white;
  font-weight: bold;
}

span{
  color: black !important;
}

